@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*,* ::before ,* ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var();
    font-weight: 400;
}

body{
    --c1-1--: #fff;
    --c1-2--: #000; 
    --c1-3--: #ff7426;
    --c1-4--: #e7fafe;
    --c1-5--: linerGradient(180deg, rgba(231,249,2530) 0%, #e7f9fd 100%);
    --c1-6--: rgba(0,0,0,0.6);
    --c1-7--: rgba(0,0,0,0.05);
    background: var(--c1-1--);
    margin: 0;
}

img{
    max-width: 100%;
}

h1,
h2,
h5,
h6,
p{
    margin: 0;
}

a{
   display: inline-block; 
   text-decoration: none;
   transition: 0.3s ease-in-out;
   -webkit-transition: 0.3s ease-in-out;
   -moz-transition: 0.3s ease-in-out;
}
ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.row{
    display: flex;
}
.column{
    display: grid;
}
.container{
    max-width: 90%;
    margin: 0% auto;
}

/* navigation */
header{
    align-items: center;
    gap: 2em;
    padding: 2em 0;
    fill: var(--c1-2--);
}

nav{
    align-items: center;
    flex-grow: 1;
    gap: 2em;
}

nav ul{
    align-items: center;
    gap: 2em;
}
.primary-links{
    margin: auto;
}

nav a, .footer-content ul a{
    font-weight: 500;
    font-size: 16px;
}

nav a:hover,
.footer-content ul a:hover,
.secondory-links.row :hover,
.footer links-row ul a:hover{
    color: var(--c1-3--);
    fill: var(--c1-3--);
}

#sec-link-icon {
    max-width: 20px;
}
#logo{
    max-width: 60px;
}

/* end navigation */

/* herosection  */
.hero{
    position: relative;
    margin: 2em 0;
    fill: var(--c1-2--);
}
.hero ::after, .hero ::before{
    position: absolute;
    content: '';
    bottom: 0;
    top: 0;
    margin: auto;
    height: 90%;
    width: 2.5%;
    background: var(--c1-4--);
}

.hero ::after{
    left: 0%;
    border-radius: 0px 50px 50px 0px;
    -webkit-border-radius: 0px 50px 50px 0px;
    -moz-border-radius: 0px 50px 50px 0px;
    -ms-border-radius: 0px 50px 50px 0px;
    -o-border-radius: 0px 50px 50px 0px;

}

.hero ::before{
    right: 0%;
    border-radius: 50px 0px 0px 50px;
    -webkit-border-radius: 50px 0px 0px 50px;
    -moz-border-radius: 50px 0px 0px 50px;
    -ms-border-radius: 50px 0px 0px 50px;
    -o-border-radius: 50px 0px 0px 50px;
}
.content{
    max-width: 40%;
}
.hero .container {
    background: url(images/fried-meat-with-vegetable-spiral-sausage-wooden-desk.jpg) var(--c1-4--) right center / contain no-repeat ;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

}

.hero-content{
    background: rgba(231,250,254,);
    padding: 2em;
}

.Recipe{
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background: var(--c1-1--);
    padding: 0.5em;
    max-width: 135px;
    box-shadow: 3px 3px 6px var(--c1-6--);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#notice{
    max-width: 25px;
}

#profile{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#play{
    max-width: 30PX;
    max-height: 30px;
}
.hero h1{
    font-weight: 600;
    font-size: clamp(35px,5vw,65px);
    text-transform: capitalize;
    padding: 0.5em 0;
}
#time{
    max-width: 30px;
    max-height: 30px;
}
#chicken{
    max-width: 30px;
    max-height: 30px;
}
p{
  font-size: 16px;
  color: var(--c1-6--);  
}
.time{
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
}
.time .row{
    align-items: center;
    gap: 1em;
}
.hero .time .row{
    background: var(--c1-1--);
    padding: 0.5em 1em;
    box-shadow: 3px 3px 6px var(--c1-6--);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.time p,
.profile p{
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;

}
.profile-btn{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding-top: 4em;
}

.profile{
    align-items: center;
    gap: 1em;
}
.hero-btn{
    align-items: center;
    gap: 0.5em;
}
.profile .p-image{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.hero h6{
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}
.profile .column{
    gap: 0.5em;
}
.hero a,
.hero-btn,
.learn a,
.insta-btn,
.sub-btn
{
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--c1-1--);
    fill: var(--c1-1--);
    background: var(--c1-2--);
    padding: 1.5em 2.5em;
    align-items: center;
    gap: 1em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
}

/* end herosection */

/* category */
.category,
.recipes,
.try{
    padding: 2em 0;
}

.category-title{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: em;
}

h2{
    font-weight: 600;
    font-size: clamp(30px,5vw,50px);
    text-transform: capitalize;
    text-align: center;
}

.category-title a{
    font-weight: 600;
    font-size:16px;
    color: #000;
    text-transform: capitalize;
    background: var(--c1-4--);
    padding: 0.8em 1.5em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.category-title a:hover,
.hero-btn:hover,
.learn-btn:hover,
.insta-btn:hover{
    background: var(--c1-3--);
    color: var(--c1-1--);
    box-shadow: 3px 3px 6px var(--c1-6--);
}

.category-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2.5em;
    padding: 2em 0;
}

.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.2) 100%);
    padding: 1em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.cat-card h6{
    font-weight: 600;
    font-size: 16px;
    padding-top: 1em;
    text-transform: capitalize;
}
/* lunch */
.cat-card:nth-last-of-type(2) {
    background: linear-gradient(180deg, rgba(215, 218, 44, 0) 0%, rgba(215, 218, 44, 0.2) 100%);
}
/* dessert */
.cat-card:nth-last-of-type(3){
    background: linear-gradient(180deg, rgba(204,38,27, 0) 0%, rgba(204,38,27, 0.2) 100%);
}
/* meat */
.cat-card:nth-last-of-type(4){
    background: linear-gradient(180deg, rgba(240,158,0, 0) 0%, rgba(240,158,0, 0.2) 100%);
}
/* vegan */
.cat-card:nth-last-of-type(5) {
    background: linear-gradient(180deg, rgba(67, 223, 47, 0) 0%, rgba(67, 223, 47, 0.2) 100%);
}
/* breakfast */
.cat-card:nth-last-of-type(6){
    background: linear-gradient(180deg, rgba(241, 167, 6, 0) 0%, rgba(241, 167, 6, 0.2) 100%);
}
.cat-card img{
    object-fit: cover;
    max-width:110px;
    /*dont support firefox*/
    -webkit-box-reflect: below 0px liner-gradient(transparent, transparent);
}
.cat-card:hover,
.card:hover,
.instagram-cards a:hover{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

/* end category */

/* recepies */
.section-title {
    text-align: center;
    max-width: 900px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.section-title p{
    font-size: 16px;
    padding: 1em 0;
}

.recepies-card, .instagram-cards, .try-cards{
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); 
   justify-content: center;
   gap: 2em;
   padding: 2em 0;
}

#cheeseburger{
    width: 500px;
    height: 400px;
}

#roastchicken{
    width: 500px;
    height: 400px;
}

#pasta{
    width: 500px;
    height: 400px;
}
#spagghetti{
    width: 500px;
    height: 400px;
}
#pancake{
    width: 500px;
    height: 400px;
}
#pizza{
    width: 500px;
    height: 400px;
}
#lasagna{
    width: 500px;
    height: 400px;
}
#like{
    max-width: 40px;
    max-height: 40px;
}
#stopwatch{
    width: 30px;
    height: 30px;
}
#lunch{
    width: 40px;
    height: 40px;
}
.recepies-card a{
    position: relative;
    background: var(--c1-4--);
    padding: 1em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    gap: 10px;

}
.card img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}

.card h5{
    font-weight: 600;
    font-size: 24px;
    padding-top: 0.5em;
}
.card #like{
    position: absolute;
    top: 7%;
    right: 8%;
    background: var(--c1-1--);
    fill: #dbe2e5;
    padding: 0.5em;
    box-shadow: 0px 5px 10px rgba(255, 99, 99, 0.2);
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.rcc {
    display: flex;
    flex-wrap: wrap;
    gap: 2em; /* Adjust the value to set the desired gap size */
}
/* end recepies */

/* start learn */
.learn>*{
    flex: 1 1 25em;
}
.learn p{
    padding: 2em 0; 
}
.learn a{
    margin-top: 2em;
}
.learn h2,p{
    text-align: left;
}
.learn-img {
    max-width: 1200px;
    max-height: 600px;
    margin-left: 50%;
    margin-top: -330px;
}
.learn1{
    max-width: 700px;

}
.learn-content{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* end learn */

/* instagram */
/* .instagram{
    background: var(--c1-5--);
    padding: 2em 0 ;
    margin: 2em 0;
   
}
.insta-btn{
    max-width: 250px;
    max-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.instaBtn{
    align-items: center;
} */
.instagram {
    background-color: var(--c1-4--);
    padding: 2em 0;
    margin: 2em 0;
   
}

/* Instagram button container */
.instaBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Instagram button */
.insta-btn {
    max-width: 250px;
    max-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* end instagram */